<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Intranet</title>
    {% block stylesheets %}{% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# <link type="text/css" rel="stylesheet" href="{{asset("bundles/ticket/css/materialize.css")}}"  media="screen,projection"/> #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap CSS -->
  </head>
  <body>
    {% block body %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {# <script src="{{asset("bundles/ticket/js/materialize.js")}}"></script> #}
    {% block javascript %}{% endblock %}


  </body>
</html>
